{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="{% static 'koleso/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'koleso/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'koleso/css/style.css' %}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"> -->

</head>

<body>

    <div class="wrapper">
        <header class="header">
            <h1>Ваш Шиномонтаж</h1>
        </header>
        <main class="main">
            <!------------------------------------------------------->
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'koleso/img/7361447.png' %}" width="80px" alt=""> </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Переключатель навигации">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'services' %}">Услуги</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'price' %}">Цены</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
            <!-------------------------------------------------------->
            {%block content %}
            {% endblock %}
<!-------------------------------------------------------->
</main>
<footer class="footer">
    <p>&copy; {{year}} Ваш Шиномонтаж</p>
</footer>
</div>
    <script src="{% static 'koleso/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'koleso/js/jquery.min.js' %}"></script>
    <script src="{% static 'koleso/js/main.js' %}"></script>
    <script>

    </script>
</body>

</html>    