{% extends 'koleso/base.html' %}
{% load static %}


{% block content %}
<div class="content">
<h2>Наши цены</h2>
            <ul>
                <li>Сезонная замена шин (R13,14) от 800 руб.</li>
                <li>Правка дисков от 300 руб.</li>
                <li>Ремонт покрышки латкой от 50 руб. </li>
                <li>Устранение грыжи, бокового пореза от 700 руб.</li>
                <li>Нанесение герметика на борт диска от 100 руб.</li>
                <li>Замена соска от 100 руб.</li>
                <li>Монтаж / демонтаж колеса(R13,14) от 100 руб.</li>
            </ul>
        </div>
{% endblock %}
